
git /extensions/GambitScheme           https://github.com/OpenEngineDK/extensions-GambitScheme.git
git-dev /extensions/GambitScheme           git@github.com:OpenEngineDK/extensions-GambitScheme.git

